body {
    background-color: lightgray;
}

body,
button,
label input {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

input {
    padding: 2px;

}

button {
    font-size: 14px;
    color: blue;
    padding: 5px;
    white-space: nowrap;
}

.button_div {
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
    white-space: nowrap;
}

label {
    display: inline-block;
    margin: 0px;
}

.image_container {
    display: grid;
    justify-content: center;
}

.image_frame {
    grid-column-start: 1;
    width: 960px;
    height: 430px; 
    background: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

canvas {
    flex: 0;
    border: 2px solid red;
    display: none;
}

.steps_container {
    display: grid;
    justify-content: center;
    margin-bottom: 10px;

}

.steps123>div {
    margin-left: 12px;
    margin-right: 12px;

    border: 1px solid gray;
    background-color: #f0fff0;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
}

.steps123>div>div {
    margin-bottom: 8px;
}


.big_number {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: #0c0;
    margin-bottom: 5px;
    white-space: nowrap;
}

.step1 {
    grid-column-start: 1;
}

.step2 {
    grid-column-start: 2;

}

.step2>div>div>label {
    width: 90px;
}

.step3 {
    grid-column-start: 3;
}


#delay_label {
    margin-top: 5px;
    margin-left: 40px;
}

.disabled {
color: gray;
}

#delay_input {
    width: 40px;
}

#url {
    width: 300px;
}

#description_div {
    margin-bottom: 10px;
}

#description {
    font-family: "Lucida Console", monospace;
    width: 320px;
    height: 80px;
}

#sending {
    padding: 10px;
    border: 1px solid red;
    background-color: yellow;
}

/*
200 chars of text for testing
aaaaaaaaa bbbbbbbbb aaaaaaaaa bbbbbbbbb aaaaaaaaa bbbbbbbbb aaaaaaaaa bbbbbbbbb aaaaaaaaa bbbbbbbbb 222222222 bbbbbbbbb 222222222 bbbbbbbbb 222222222 bbbbbbbbb 222222222 bbbbbbbbb 222222222 zzzzzzzzz
*/